<br />
            <h4><a href="/detalle/:<%= product.id %>"><%= product.title %></a></h4>
            <p class="ps-text-grey">
              <%= `${product.description} U$S ${product.price}` %>
            </p>
            <br />